body {
  margin: 0;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

header {
  min-height: 50px;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

.toggler {
  height: 30px;
  width: 60px;
  background-color: grey;
  border-radius: 24px;
}

.toggle {
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  border-radius: 100%;
  transition-duration: 0.5s;
}

.toggleTrue {
  margin-left: 30px;
}

.toggleFalse {
  margin-left: 0px;
}
